# Java generated
target/

# Developer environment setup (weird files/folders)
/resources/
*.patch

# Subversion
.svn

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.project
.settings
.classpath
*/maven-eclipse.xml

# Windows
Thumbs.db
*.lnk


*.class
out/

# OSX
.DS_Store


/bin/
